header {
    color:white;
    background-color: #152238;
    text-align: center;
    margin: auto;
};

p {
    font-size: 12px;

};

h5 {
    font-size: 14px;
};

.card p, h5 { 
    color: white!important; 

}
